html {
 font-size:62.5%;
}

body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 1.6em;
 font-family: sans-serif;

}



h1 {
  text-align: center;
  font-size: 4.2rem;
}

#container-code {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 520px;
}

#container-code h2 {
  text-align: center;
  color: rgb(98, 87, 87);
}

#container-code code {
  font-size: 1.2rem;
  background-color: rgb(239, 239, 226);
  padding: 2.1rem;
  border-radius: 12px;
}



#container-inputs {
  display: flex;
  padding: 20px;
}

#container-inputs label {
  font-weight: 600;
  padding-right: 15px;
}

#container-result {
  padding-left: 30px;
}


